.saved-main{
    padding-right: 0px;
    z-index: 1;
}
.saved-main .triangle{
    position: absolute;
    height: 25px;
    margin-top: -80px;
    margin-left: 310px;
}
.saved{
    background: #101010;
    margin-top: -58px;
}
.subtitle-saved{
    color: #4baaa0 !important;
}
.line{
    width: 380px;
    border-bottom: 5px solid #232323;
    position: absolute;
}
.menu-list{
    font-size: 18px
}