.btn-buy{
    background: #135a52 !important;
    color: #ffffff !important;
}
.domain{
    font-size: 24px;
}
.domain:hover{
    background: #94bcc2;
}
.domain-txt{
    color: #14312e;
}
.domain-dot{
    color: #1eb399 !important;
}
.domain:hover .domain-dot i{
    color: #07766a;
}
.unavailable{
  color: #d43832 !important;
}
.disabled{
  color: #937d7d;
  text-decoration-line: line-through;  
}